#gameScreen {
    border-style:solid ;
    border-width: 3px;
    border-color: black;
    align-content: center;
    flex-grow: 1;
}

.image {
    display: none;
}

.spacer{
    flex-grow: 1
}
.game {
    display: flex;
    flex-direction: row;
}
.made{
    font-family: 'Baloo 2', cursive;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');